/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

/* Simple light box styles */
@import "simplelightbox/dist/simple-lightbox.min.css";

image {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.sl-overlay {
  background: rgba(0, 0, 0, 0.9);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 408px;
  padding: 24px;
  margin: 0 auto;
  box-sizing: border-box;
}

.feedback-form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form-input {
  height: 40px;
  padding-left: 15px;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 4px;

}

.feedback-form-input::placeholder {
  color: transparent;
}

.feedback-form-input:active::placeholder {

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}



.feedback-form-input:focus,
.feedback-form-input:hover {
  outline: none;
  border-color: #000;
}

.feedback-form-message {
  height: 80px;
  width: 100%;
  padding: 15px;
  border: 1px solid #808080;
  border-radius: 4px;
  resize: none;
}

.feedback-form-message:focus,
.feedback-form-message:hover {
  outline: none;
  border-color: #000;
}

.feedback-form-submit {
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  background: #4e75ff;
  min-width: 95px;
  height: 40px;
  cursor: pointer;
  align-self: flex-start;
  transition: transform 250ms linear;
  margin-top: 8px;
}

.feedback-form-submit:hover,
.feedback-form-submit:focus {
  background-color: #6c8cff;
}